
header{
background-color: rgba(189, 185, 174, 0.425);
border-radius: 10px;
color: rgb(231, 13, 13);
font-size: 0.75cm;
box-shadow: 1px 1px 4px  rgb(0, 0, 0);
text-shadow: 1px 1px 4px  rgb(0, 100, 13);
}
body{
margin: auto;
width: 1000px;
}
section{
background-color: rgba(189, 185, 174, 0.507);
font: bold 12pt Arial;
border-radius: 10px;
padding: 15px;
text-align: center;
height: auto;
box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
footer{
    padding: 0.45cm;
    text-align-last: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
    font-style: italic;
}